.accordion {
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-bottom: 1px solid grey;
}

.accordion-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & svg {
    width: 24px;
    height: 24px;
    color: grey;
  }
}

.accordion-content {
  padding-bottom: 1rem;
}

.detail-image {
  width: 100%;
  // height: 180px;
  // object-fit: cover;
  // border-radius: 1rem;
  & img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .accordion-content {
    display: flex;
    flex-direction: row;
    & p {
      margin-top: 0;
    }
    // & img {
    //   width: 320px;
    //   height: 180px;
    //   object-fit: cover;
    //   margin-right: 1.5rem;
    // }
  }

  .detail-image {
    width: 320px;
    height: 180px;
    margin-right: 1.5rem;
    & img {
      width: 100%;
      // height: 180px;
      // object-fit: cover;
      border-radius: 1rem;
    }
  }

  .button {
    width: 200px;
  }
}

// @media (min-width: 1024px) {
//   .accordion-content {
//     display:flex;
//     flex-direction: row;
//     & img {
//       width: 30%;
//       height: 180px;
//       margin-right: 1.5rem;
//     }
//   }
//   .button {
//     width: 200px;
//   }
// }
