@import '../index.scss';

.accordion {
  padding: 1rem 0 0 0;
  border-bottom: 0.0625rem solid $border;
}

.accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: $grey;
  }
}

.accordion-content {
  padding-bottom: 1rem;
}

.detail-image {
  width: 100%;

  img {
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.detail-content > * {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .accordion-content {
    display: flex;
    flex-direction: row;

    p {
      margin-top: 0;
    }
  }

  .detail-image {
    width: 320px;
    height: 180px;
    margin-right: 1.5rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .button {
    width: 200px;
  }
}
