@import '../index.scss';

.tabs-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $light;
  z-index: 1000;
}

.tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.75rem 0rem 0.75rem 1rem;
}

.tabs button {
  flex: 0 0 auto;
  height: 2.5rem;
  margin-right: 0.5rem;
  padding: 0rem 1rem;
  border: 0.0625rem solid $lightGrey;
  border-radius: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: $font-family;
  font-size: 1rem;
  color: $dark;
  &:hover {
    background-color: transparent;
    border: 0.0625rem solid $lightGrey;
  }
}

.tabs button.active {
  border: 1px solid $dark;
  &:hover {
    background-color: transparent;
    border: 2px solid $dark;
}
}
// .tabs button:hover {
//   background-color: #ddd;
// }
