@import '../../index.scss';

.ItineraryPage {
  padding-top: 5rem;
  width: 100vw;
}

.Hero {
  position: relative;
  width: 100%;
  height: 196px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: $light;
  // font-family: $font-family;
  // font-size: 28px;
  // font-weight: 400;
}

.Hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.BottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 1000;
}

.ButtonBottomBar  {
    width: calc(100vw - 2rem);
  }

@media (min-width: 768px) {
  .ItineraryPage {
    width: 80vw;
    margin: 0 auto;
  }
  .Hero {
    height: 240px;
    & img {
      border-radius: 1rem;
    }
  }
  .Hero::before {
    border-radius: 1rem;
  }
}

@media (min-width: 1024px) {
  .ItineraryPage {
    width: 1024px;
    margin: 0 auto;
  }
}
