.UserPage {
    margin: 80px 16px;
}

.Profile {
    padding: 0.75rem 0rem;
    & img {
        border-radius: 99px;
    }
}

.List {
    padding: 0.75rem 0rem;
    & img {
        border-radius: 0.5rem;
    }
}

.Link {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    & svg {
        width: 1.5rem;
        height: 1.5rem;
        color: grey;
    }
}